@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal; */
  background: linear-gradient(334.25deg, #d7f1ff -8.18%, #f2f8ff 65.15%);
}
/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } 
}*/

.v-main {
  background-color: #f5f5f5;
  transition: margin-left 1s ease;
}

.main-collapsed {
  transition: 1s ease;
}

#my_custom_table tr th {
  font-weight: bold;
  color: black;
  background: whitesmoke;
  padding: 10px;
}
